<section class="container">
  <header class="brand-name">
    <h1 class="mat-title">Form HTML Code</h1>
  </header>
  <mat-card>
    <mat-card-content>
      <pre>{{ code }}</pre>
    </mat-card-content>
    <mat-card-content class="btn">
      <button mat-raised-button color="accent" (click)="onClick()">
        Copy To Clipboard
      </button>
      <button mat-raised-button color="primary" (click)="change_route()">
        Make Form
      </button>
    </mat-card-content>
  </mat-card>
</section>
